body{
    background-color: cyan;
}
header{
    font-family:cursive;
    color: rgb(85, 66, 41);
    text-decoration:wavy;
}
/* get this thing wide screen! and align the form*/
main{
    margin-left: 10px;
}

table{
    width: 100%;
}

#taskTableBody{
    background-color: antiquewhite;
}

#center{
    text-align: center;
}

#centerToo{
    text-align: center;
}

thead{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(85, 66, 41);
}

tbody{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px;
}

.finished{
    background-color: khaki;
}