body{
    background-color: cyan;
}
header{
    margin-left: 50px;
    font-family: cursive;
    color: rgb(175, 154, 22);
    font-size: large;
}
/* get this thing wide screen! and align the form*/
main{
    margin-left: 10px;
}

table{
    width: 100%;
}

#taskTableBody{
    background-color: rgb(224, 218, 211);
}

#center{
    text-align: center;
}
/* I know there's probably a more simpler way to combine these, but the clock is racing*/
#centerToo{
    text-align: center;
}

thead{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(85, 66, 41);
}

tbody{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px;
}

.finished{
    background-color: blueviolet;
}